<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Existencias">
  <ion-content class="padding">
    <div class="list">
        <div ng-repeat="item in backpack">
        <a class="item item-icon-left">
            <i class="icon ion-email"></i>
            {{item.name}}
        </a>
      </div>
    </div>
</ion-view>
