<ion-view view-title="Existencias">
  <ion-content class="padding">
    <div class="list">
        <div ng-repeat="(key, data) in backpack">
          <div ng-repeat="food in FOOD">
            <div ng-if="food.id == key">
              <a class="item item-thumbnail-left">
                <img src="{{food.img}}">
                <h2>{{food.name}}</h2>
                <p>Cantidad: {{data}} </p>
              </a>
            </div>
          </div>        
      </div>
    </div>
  </ion-content>
</ion-view>
