<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Bienvenido
      </div>
      <div class="item item-text-wrap">
        Aun estamos en desarrollo ;). El objetivo, por ahora, consiste en forrajear el distrito en busca de agua, alimentos
        y todo lo que pueda servir de comida. Más tarde se implementará un sistema de crafting.
      </div>
      <div class="item item-divider">
        <a href="#/create">Vamos al comienzo</a>
      </div>
    </div>
  </ion-content>
</ion-view>
